<!DOCTYPE html>
<html>
<head>
    <title>Kostya is awesome</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <% include templates/header.ejs %>

    <ul>
        <%= body %>
    </ul>
</body>
</html>
